<footer class="bottom-bar">
  <div class="container">
    <div class="bar-center">
      <div class="bar-socials">
        <a href="mailto:driosoftpro@gmail.com" title="Email"><i class="fas fa-envelope"></i> Email</a>
        <a href="https://github.com/driosoft-pro" target="_blank" rel="noopener noreferrer"><i class="devicon-github-original"></i> GitHub</a>
        <a href="https://gitlab.com/driosoft-pro" target="_blank" rel="noopener noreferrer"><i class="devicon-gitlab-plain"></i> GitLab</a>
        <a href="https://www.linkedin.com/in/deyton-riascos-ortiz-534605179" target="_blank" rel="noopener noreferrer"><i class="devicon-linkedin-plain"></i> LinkedIn</a>
      </div>
    </div>
    <div class="bar-right">
      <span class="copyright">© <span id="year">2026</span> Deyton Riascos Ortiz.</span>
    </div>
  </div>
</footer>
