<a href="https://www.linkedin.com/in/deyton-riascos-ortiz-534605179" target="_blank" rel="noopener noreferrer"
  class="btn">LinkedIn</a>
<a href="https://gitlab.com/driosoft-pro" target="_blank" rel="noopener noreferrer" class="btn">GitLab</a>
<a href="mailto:deyton007@gmail.com"
  style="color: var(--accent-secondary); text-decoration: none;">deyton007@gmail.com</a>
<a href="https://github.com/driosoft-pro" target="_blank" rel="noopener noreferrer" class="btn">GitHub</a>
</div>
</section>
</div>